/* base.html navbar */

.main-heading {
    background-color: #FFDC40;
   
}

.panel {
    height: 120px;
    margin-top: 0;
    padding-top: 0;
}

.main-title {
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    margin-left: 30px;
    padding-top: 20px;
    
}

.main-subtitle {
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    padding-top: 20px;
}

.main-subtitle:hover {
    background-color:#FFDC40;
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 30px;

}

.navtv {
    color: black;
    font-size: 60px;
    padding-left: 10px;
    padding-top: 10px;
}




/* home.html */


.westworldbox {
    background-color: black;
    width: 100%;
    height: 260px;
    
}

.westworld {
    height: 150px;
    width: 60%;
    margin-left: 280px;
    margin-top: 50px;
   
}
/* home.html image carousel and top ratings lists */

.carousel {
    height: 400px !important;
    width: 100%;
}


.largeboxhome {
    box-sizing: border-box;
    width: 100%;
    height: 650px;
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
    
    }
    

.box1 {
    display: inline-block;
    background-color: #1a1110;
    width: 400px;
    height: 470px;
    box-shadow: 10px 12px 12px #10aea6;
    border: 1px solid #10aea6;
    margin: 20px 360px 0 80px;
    padding-left: 50px;
    
}

.box2 {
    display: inline-block;
    background-color: #1a1110;
    width: 400px;
    height: 470px;
    border: 1px solid #10aea6;
    box-shadow: 10px 12px 12px #10aea6;
    padding-left: 100px;
    
}

.homeicon {
    color: white !important;
    padding-right: 15px;
}

.list-content {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    padding: 2px 2px 2px 2px;
    
}


.list-title {
    color: white;
    font-family: 'Barlow', sans-serif;
    margin-left: 10px;
}

.button-homepage {
    background-color: #f62681;
    border: 0.5px solid black;
    border-radius: 5px;
    float: right;
}

.button-homepage:hover {
    background-color:#f62681;
    border-radius: 5px;
}


/* home.html boxset cards */

.largebox1 {
    width: 100%;
    height: 600px;
    background-color: black;
    padding-left: 50px;
}

.miniboxrating {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}

.material-icons {
    color: black;
    padding-right: 10px;
    margin-top: 5px;
    
}

.miniboxtitle {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Barlow', sans-serif;
    
}

.miniboxparagraph {
    color: white;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.miniboximage {
    width: 260px;
    height: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.minibox {  
    margin-top: 60px;
    margin-right: 50px;
    background-color: #1a1110;
    width: 270px !important;
    height: 420px;
    border: 1px solid #f62681;
    box-shadow: 6px 6px 6px #f62681;
    

}

.ratingicon {
    color: white;
    
}

/* addseries.html background and form */

.addseriesbackground {
    background-color: black;
    width: 100%;
    height: 1300px;
    margin: 0;
    padding-top: 100px;
}

.minibox2 {
    background-color: #1a1110;
    width: 70%;
    height: 900px;
    border: 6px solid;
    box-shadow: 12px 12px 12px #10aea6;
    margin-left: 180px;
    
    
}

.addseriesicon {
    color: white;
    font-size: 30px;
    
}


#addseriesimage {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    
}

#addseriestitle {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    
}

#addseriesseasons {
    color:  white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
  
}

#addseriesstarring {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
      
}

#addseriesrating {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    
}

#addseriessummary {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
   
}

.addseriesheading {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Barlow', sans-serif;
}

.button-addseries {
    float: left;
    background-color: #10aea6;
    border: none;
    margin-left: 50px;
    margin-top: 20px;
    height: 40px;
    border-radius: 3px;
    
}

/* view.html */

.viewseriesbackground {
    width: 100%;
    height: inherit;
    background-color: black;
    padding-top: 130px;
    
}

.minibox3 {
    width: 70%;
    height: 1600px;
    background-color: #1a1110;
    border: 6px solid #f62681;
    box-shadow: 12px 12px 12px #f62681;
    margin-left: 200px;
    padding-top: 40px;
}

.viewtextheading {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Barlow', sans-serif;
}

.viewtext {
    color: white;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
     
}

.viewtextsummary {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

.viewtextimage {
    width: 500px;
    height: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: 200px;
    border: 2px solid black;
}

.reviewinview {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 430px;
   
}

.reviewsubtitle {
    color: white;
    font-size: 25px;
    padding-top: 50px;
    text-align: center;
}

.button-view {
    background-color: #f62681;
    color: white;
    border-radius: 2px;
    margin-top: 70px;
    margin-left: 115gpx;
    float: 0;
    width: 150px;
}

.button-view:hover {
    background-color: #f62681;
    color: white;
    border-radius: 2px;
    margin-top: 70px;
    margin-left: 90px;
    float: 0;
}



/* allseries.html */


::placeholder {
  color: black;
  opacity: 1; 
  font-size: 25px;
}
.largebox4 {
    width: 100%;
    height: 1950px !important;
    background-color: black;  
    
}

.minibox1 {  
    margin-right: 45px;
    background-color: #1a1110;
    width: 400px !important;
    height: 500px;
    border-width: 3px;
    border-color: #f62681;
    border-style: solid;
    margin-top: 100px;

}

.allseriesimage {
    width: 380px;
    height: 200px;
    text-align: center;
    
}

.allseriestitles {
    font-size: 30px !important;
    color: white;
}

.allseriestext {
    font-size: 18px;
    color: white;
}

.search-bar {
     background-color: #FFDC40;
     text-align: center;
     
}

::placeholder {
  color: black;
  opacity: 1; 
  font-size: 25px;
}
/* editseries.html */

.editseriesbackground {
    background-color: black;
    width: 100%;
    height: 1300px;
    margin: 0;
    padding-top: 100px;
}

.minibox3 {
    background-color: #1a1110;
    width: 70%;
    height: 1200px;
    border: 6px solid;
    box-shadow: 12px 12px 12px #10aea6;
}

.addseriesicon {
    color: white;
    font-size: 30px;
    
}


#addseriesimage {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    
}

#addseriestitle {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    
}

#addseriesseasons {
    color:  white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
  
}

#addseriesstarring {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
      
}

#addseriesrating {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
    
}

#addseriessummary {
    color: white;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
   
}

.addseriesheading {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Barlow', sans-serif;
}

.button-addseries {
    float: left;
    background-color: #10aea6;
    border: none;
    margin-left: 50px;
    margin-top: 20px;
    height: 40px;
    border-radius: 3px;
    
}