{% extends 'base.html' %}   
{% block content %}

 
<div class="row">
<div class="viewseriesbackground col s12">
    <div class="viewseriesbox">
      <form action="{{ url_for('add_review') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Add Your Review!</label>
                {% for review in review %} 
                <span>{{review.review_rating}}</span><br> 
                <span>{{review.review_message}}</span><br>
                {%endfor%}
            </div>  
        </div>
        </form>
    <a href="{{url_for('view_boxset', cards_id=cards._id)}}" class="waves-effect waves-light btn">Save Review</a>
    <a href="{{url_for('add_review', cards_id=cards._id)}}" class="waves-effect waves-light btn">Edit Review</a>
    <a href="{{url_for('add_review', cards_id=cards._id)}}" class="waves-effect waves-light btn">Delete Review</a>
    </div>
    </div>
    </div>

{% endblock %}