
{% extends 'base.html' %}   
{% block content %}
 <!--addseries.html allows user to insert a boxset and is redirected to allseries.html-->
<div class="row addseriesbackground ">
    <div class="minibox2">
            <form action="{{url_for('insert_boxset')}}" method="POST" class="col s12">
            <h3 class="addseriesheading">Add A Boxset</h3>
            <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix addseriesicon">insert_photo</i>
                <input style="color:#fff;" id="boxset_image_url" name="boxset_image_url" type="text" class="validate" required>
                <label id="addseriesimage">Upload the Image link</label>
            </div>
        </div>
                <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix addseriesicon">assignment</i>
                <input style="color:#fff;" id="boxset_title" name="boxset_title" type="text" class="validate" required>
                <label id="addseriestitle">Boxset Title</label>
            </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
                <i class="material-icons prefix addseriesicon">assignment</i>
                <textarea style="color:#fff;" name="boxset_seasons" id="boxset_seasons" class="materialize-textarea" required></textarea>
                <label id="addseriesseasons">How many seasons?</label>
            </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
                <i class="material-icons prefix addseriesicon">supervisor_account</i>
                <textarea style="color:#fff;" name="boxset_starring" id="boxset_starring" class="materialize-textarea" required></textarea>
                <label id="addseriesstarring">Who are the actors?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix addseriesicon">star</i>
                <textarea style="color:#fff;" name="boxset_rating" id="boxset_rating" class="materialize-textarea" required></textarea>
                <label id="addseriesrating">How would you rate it?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix addseriesicon">rate_review</i>
                <textarea style="color:#fff;" name="boxset_summary" id="boxset_summary" class="materialize-textarea" required></textarea>
                <label id="addseriessummary">Tell us more about it....</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light hvr-hang button-addseries" type="submit" name="action">Add Boxset</button>
        </div>
    </form>
</div>
</div>

{% endblock %}
