
{% extends 'base.html' %}   
{% block content %}

<!--user can add a review from view.html add review button. Review is inserted into view.html.-->

<div class="addreviewbackground">
    <div class="minibox7">
            <form action="{{url_for('insert_review', boxset_id=boxset_id)}}" method="POST" class="col s12">
            <h3 class="addseriesheading">Add A Review</h3>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix addreviewicon">star</i>
                <textarea style="color:#fff;" name="review_rating" id="review_rating" class="materialize-textarea" required></textarea>
                <label id="addrating">How would you rate it?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix addreviewicon">rate_review</i>
                <textarea style="color:#fff;" name="review_message" id="review_message" class="materialize-textarea" required></textarea>
                <label id="addreview">Tell us more about it....</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light hvr-hang button-addreview" type="submit" name="action">Add Review</button>
        </div>
    </form>
</div>
</div>


{% endblock %}