{% extends 'base.html' %}   
{% block content %}
<!-- search box to allow user to search any title-->
<form action="{{url_for('search')}}" method="GET" class="col s12">
<div class="searchbarbackground">
<input name="search_bar" type="search" id="search_bar" value="Search Boxset..." aria-label="Search">
<input type="submit" class="search_bar" value="Submit">
 </div>
</form>

{% for cards in addboxset %} 

  <div id="myList" class="row largebox4"> 
      <ul class="col s6 minibox1">  
      <li><img class="allseriesimage" alt="boxsetpic" src="{{cards.boxset_image_url}}"></li>
      <li class="allseriestitles">{{cards.boxset_title}}</li>
      <li class="allseriestext"> Starring: {{cards.boxset_starring}}</li>
      <li class="allseriestext"> Our Rating: {{cards.boxset_rating}}</li>
      <li><a href="{{url_for('view_boxset', cards_id=cards._id)}}"  class="waves-effect waves-light btn hvr-hang button-allseries">Read More</a><li>
      </ul>  
     
      
{%endfor%}
 
 <!--Pagination. See all_boxsets function on app.py for code-->
<div class="pagination">{{ pagination.links }}</div>
  
  
{% endblock %}