{% extends 'base.html' %}   
{% block content %}

<div class="search-bar">
<span class="material-icons">search<input type="text" id="myInput" name="myInput" placeholder="Search Boxset" ></span>


{% for cards in addboxset %} 



  <div id="myList" class="row largebox4"> 
      <ul class="col s3 minibox1">  
      <li><img class="allseriesimage" src="{{cards.boxset_image_url}}"></li><br>
      <li class="allseriestitles">{{cards.boxset_title}}</li><br>
      <li class="allseriestext"> Starring {{cards.boxset_starring}}</li><br>
      <li class="allseriestext"> Our Rating {{cards.boxset_rating}}</li><br>
     
<a href="{{url_for('view_boxset', cards_id=cards._id)}}"  class="waves-effect waves-light btn">Read More</a>
      </ul>

{%endfor%}
{% endblock %}

 