<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Couch Potato</title>
</head>
<body>

    {%block content%}
    {% for information in review %}
    {{information.review_image}}
    {{information.review_title}}
    {{information.review_seasons}}
    {{information.review_release}}
    {{information.review_starring}}
    {{information.review_rating}}
    {{information.review_summary}}
    {%endfor%}
    {%endblock%}


    
</body>
</html>