{% extends 'base.html' %}   
{% block content %}


    <div class="editseriesbackground">
        <div class="row minibox3">
    <form action="{{url_for('update_boxset', boxset_id=boxset._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <h3 class="editseriesheading">Edit a Boxset</h3>
            </div>  
        </div>
          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix editseriesicon">insert_photo</i>
                <input style="color:#fff;" id="boxset_image_url" name="boxset_image_url" type="text" value="{{boxset.boxset_image_url}}" class="validate materialize-textarea"  required>
                <label for="boxset_image_url" id="editimage">Upload the Image link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix editseriesicon">assignment</i>
                <input style="color:#fff;" id="boxset_title" name="boxset_title" type="text" value="{{boxset.boxset_title}}" class="validate materialize-textarea" required>
                <label for="boxset_title" id="edittitle">What's the name of the TV Series?</label>
            </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
               <i class="material-icons prefix editseriesicon">assignment</i>
                <input style="color:#fff;" id="boxset_seasons" name="boxset_seasons" type="text" value="{{boxset.boxset_seasons}}" class="validate materialize-textarea" required>
                <label for="boxset_seasons" id="editseasons">How many seasons?</label> 
            </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
                <i class="material-icons prefix editseriesicon">people</i>
                <input style="color:#fff;" name="boxset_starring" id="boxset_starring" type="text" value="{{boxset.boxset_starring}}"class="validate materialize-textarea" required>
                <label for="boxset_starring" id="editactors">Who are the actors?</label>
            </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
                <span class="material-icons prefix editseriesicon">star</span>
                <input style="color:#fff;" id="boxset_rating" name="boxset_rating" type="text" value="{{boxset.boxset_rating}}" class="validate materialize-textarea" required>
                <label for="boxset_rating" id="editrating">How would you rate it out of 10?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <span class="material-icons prefix editseriesicon">rate_review</span>
                <textarea style="color:#fff;" name="boxset_summary" id="boxset_summary" class="materialize-textarea" required>{{boxset.boxset_summary}}</textarea>
                <label for="boxset_summary" id="editsummary">Tell us more about it...</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update A Boxset
                <i class="material-icons right hvr-hang button-editseries">playlist_add</i>
            </button>
        </div>
    </form>
</div>
</div>
   
{% endblock %}