{% extends 'base.html'%}   
{% block content %}

<div class="box1">
<img src="static/images/main.jpg" alt="westworld" class="westworld">
</div>

<div class="carousel carousel-slider">
    <a class="carousel-item thecarousel" href="#one!"><img src="{{ url_for('static', filename='images/slide1.jpg') }}"></a>
    <a class="carousel-item thecarousel" href="#two!"><img src="{{ url_for('static', filename='images/slide2.jpg') }}"></a>
    <a class="carousel-item thecarousel" href="#three!"><img src="{{ url_for('static', filename='images/slide3.jpg') }}"></a>
    <a class="carousel-item thecarousel" href="#four!"><img src="{{ url_for('static', filename='images/slide4.jpg') }}"></a>
  </div>
  
  


<div class="largebox">
<div class="box3 col-sm-4 row">
<div class="list-title">
<h5 class="title-list">Our All Time Favourites!</h5>
   <ul class="list body">
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>Westworld 9.2</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>Game of Thrones 9.0</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>Friends 8.9</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>Breaking Bad 8.5</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>The West Wing</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>The Sopranos 8.5</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>The Walking Dead 8.2</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>This Is Us 8.2</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>Parks and Recreation 8.0</li>
            <li class="list-content"><span class="material-icons homeicon">live_tv</span>Arrested Development 7.9</li>
            </ul>
</div>
</div>

<div class="box4 col-sm-4 row">
<div class="list-title">
<h5 class="title-list">Your Top Picks!</h5>
   <ul class="list body">
           <li class="list-content"><span class="material-icons homeicon">live_tv</span>Game of Thrones 9.5</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>Breaking Bad 9.2</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>The Walking Dead 9.1</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>Westworld 8.9</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>Stranger Things 8.8</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>Killing Eve 8.7</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>Ozark 8.3</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>This Is Us 8.5</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>Big Little Lies 8.4</li>
                <li class="list-content"><span class="material-icons homeicon">live_tv</span>Unbelievable 8.1</li>
            </ul>
</div>
</div>
</div>

    
    {% for cards in addboxset %}
    {% if loop.index < 5 %}

        
   
     <div class="row largebox2 ">
      <div class="col s2 minibox">  
      <img class="thetextimage" src="{{cards.boxset_image_url}}"><br>
      <span class="thetexttitle">{{cards.boxset_title}}</span><br>
     <span class="thetext"> {{cards.boxset_rating}}</span><br>
     
<a href="{{url_for('view_boxset', cards_id=cards._id)}}"  class="waves-effect waves-light btn button-home button hvr-wobble-horizontal">Read More</a>
      </div>
    
    
 

{% endif %}
{% endfor %} 

 

{% endblock %}




  