
{% extends 'base.html' %}   
{% block content %}

{% for result in results %}

 <div class="row largebox4"> 
      <ul id="all" class="col s6 minibox1">  
      <li><img class="allseriesimage" src="{{result.boxset_image_url}}"></li><br>
      <li class="allseriestitles">{{result.boxset_title}}</li><br>
      <li class="allseriestext"> Starring: {{result.boxset_starring}}</li><br>
      <li class="allseriestext"> Our Rating: {{result.boxset_rating}}</li><br>
     
<a href="{{url_for('view_boxset', cards_id=result._id)}}"  class="waves-effect waves-light btn hvr-hang button-allseries">Read More</a>
      </ul>


{% endfor %} 
{% endblock %}