{% extends 'base.html' %}
{% block content %}


<div class="viewseriesbackground">
	<div class="minibox3">
    <div class="row">
			<div class="col s12 heading">
				<img class="viewtextimage" src="{{cards.boxset_image_url}}"><br>
			</div>    
		</div>
		<div class="row">
			<h3 class="viewtextheading">{{cards.boxset_title}}</h3>
		</div>
		
		<div class="row">
			<div class="col s12 heading">
				<p class="viewtext">{{cards.boxset_starring}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col s12 heading">
                <p class="viewtext">{{cards.boxset_seasons}} Seasons</p>
				<p class="viewtext">Our Rating: {{cards.boxset_rating}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col s12 heading">
				<p class="viewtextsummary">{{cards.boxset_summary}}</p>
			</div>
            {% for review in reviews %} 
            <div class="row">
			<div class="col s12 heading">
				<p class="viewtextsummary">Rating: {{review.review_rating}} <br> Review: {{review.review_message}}</p>    
			</div>
            {%endfor%}
        <div class="row">
        <div class="col s12 heading">
        <a href="{{url_for('add_review', boxset_id=cards._id)}}" class="waves-effect waves-light btn button-view hvr-hang">Add A Review</a>
		<a href="{{url_for('edit_boxset', boxset_id=cards._id)}}" class="waves-effect waves-light btn button-view hvr-hang">Edit Boxset</a>
        <a href="{{url_for('delete_boxset', cards_id=cards._id)}}" class="waves-effect waves-light btn button-view hvr-hang">Delete Boxset</a>
	</div>
    </div>
    
</div>


{% endblock %}