{% extends 'base.html' %}   
{% block content %}

 {% for cards in homepage %} 

    <div class="row">
        <h3> {{cards.boxset_title}}</h3> 
    </div> 
    <div class="row">
        <div class="col s6 heading">
            <p>{{cards.boxset_image}} </p> 
        </div>
        <div class="col s6 heading">
            <p>{{cards.boxset_seasons}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s6 heading">
        <p>{{cards.boxset_starring}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s6 heading">
        <p>{{cards.boxset_rating}}</p> 
    </div> 
    </div>      
    <div class="row">
    <div class="col s6 heading">
        <p>{{cards.boxset_rating}}</p>
    </div> 
    </div>
    <div class="row">
    <div class="col s6 heading">
        <p>{{cards.boxset_summary}}</p>
    </div>
    </div> 
 

  {%endfor%}

{% endblock %}